.App {
  text-align: center;
}

.App-header {
  background-color: #1ba7b1;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:whitesmoke;
}
.App-logo {
  background-image: url(./logo2.png);
  
}


.App-link {
  color: #61dafb;
}


*{
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}
.map-style{
  width: 100px;
  height: 50px;
}
