.App {
  text-align: center;
}

.App-header {
  background-color: #1eb0bb;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.GoogleMap{
  margin: 0;
  padding: 0;
}